// Importing variables from another file
@import "../../assets/styles/variables";

/* NAVIGATION BAR */
.navbar 
{
  background-color: $primary-color; // Navy-blue background 
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* LINKS */
/* Style for the logo which is also link to the homepage. */
.logo 
{
  width: 65px;
  filter: invert(100%);
}

.link-container 
{
  display: flex;

  // Default link style. It doesn't matter if the link is active or not. This style will be applied to it.
  .link
  {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    padding: 5px 20px;

    /* Displays white line on top of the hovered link */
    &:hover
    {
      border-top: 2px solid white;
    }
  }

  //Style for active links only.
  .active-link 
  {
    border-top: 2px solid white;
  }
}


/*HAMBURGER*/
/* Hides the hamburger button for devices wider than 768px */
.hamburger, input[type=checkbox]
{
  display: none; // Hidden for devices wider than 768px.
}

.hamburger 
{
  font-size: 24px;
  padding-right: 10px;
  color: white;
  display: none;
} 


/* Media Queries */
@media (max-width: 768px) 
{
  /*LINKS*/
  .link-container 
  {
    display: none; // Hide menu by default
    background-color: $primary-color; // Using navy-blue color as background
    position: absolute;
    right: 0;
    left: 0;
    padding: 16px 0;
    margin-top: 10px;
    text-align: center;

    .link:hover, .active-link
    {
      border-top: 2px solid transparent;
    }
  }

  .link-container li + li 
  {
    margin-top: 12px; // Spacing between menu items
  }


  /* HAMBURGER */
  /* Display menu when hamburger is clicked */
  .hamburger, input[type=checkbox]:checked ~ .link-container 
  {
    display: block;
  }

  .hamburger 
  {
    cursor: pointer;
  }
}